<!DOCTYPE html>
<html lang="ro">

<head>


	

	<%- include("../fragmente/metadata") %>

	<title>

		Filmul tau. Aici

	</title>

	<link href="/resources/css/index.css" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" type="image/x-icon" href="/resources/images/favicon.ico" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
	<link rel="stylesheet" href="/resources/css/colorScheme.css">
	<link rel="stylesheet" href="/resources/css/index-1400.css" type="text/css" media="screen and (max-width:1400px)" />
	<link rel="stylesheet" href="/resources/css/index-600.css" type="text/css" media="screen and (max-width:600px)" />
	<link rel="stylesheet" href="/resources/css/nav.css">
	<link rel="stylesheet" href="/resources/css/nav-mic.css" type="text/css" media="screen and (max-width:600px)" />
	<link rel="stylesheet" href="/resources/css/hrStyling.css">
	<link rel="stylesheet" href="/resources/css/link-top.css">
	<link rel="stylesheet" href="/resources/css/iframe.css">
	<link rel="stylesheet" href="/resources/css/grid-mare.css">
	<link rel="stylesheet" href="/resources/css/grid-mediu.css" type="text/css" media="screen and (max-width:1400px)" />
	<link rel="stylesheet" href="/resources/css/grid-mic.css" type="text/css" media="screen and (max-width:600px)" />
	<link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
	<script src="https://kit.fontawesome.com/adc7ec3556.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
	<link rel="stylesheet" href="/resources/css/headerStyle.css">
	<link rel="stylesheet" href="/resources/css/poze.css">
    <link rel="stylesheet" href="/resources/css/galerie-statica.css">
	<link rel="stylesheet" href="/resources/css/print-page.css">
	<link rel="stylesheet" href="/resources/css/galerie-animata.css" type="text/css">
	<link rel="stylesheet" href="/resources/css/filme.css" type="text/css">

</head>
<script type="text/javascript" src="/resources/js/filme.js"></script>
<body>

	
	<%- include("../fragmente/header") %>
    <%- include("../fragmente/navbar") %>

	<button id="schimbare-tema" class="light"><i class="far fa-moon" id="butonluna"></i><i class="far fa-sun" id="butonsoare"></i></button>
	<script src="/resources/JS/tema.js"></script>
	
    <main>
		
        
		
        <label> Maxim pret: <input type="number" id="inp-pret" value="100"></label>
		<label>Select simplu:
            <select id="inp-categorie">
                <option value="toate">toate</option>
                <% for( let categorie of locals.categorii) { %>
                    <option value="<%- categorie.categ %>"><%- categorie.categ %></option>
                <% } %>
            </select>
        </label>

		<p>
			<button id="filtrare">Filtreaza</button>
			<button id="sortCrescNume">Sorteaza crescator dupa nume</button>
			<button id="sortDescrescNume">Sorteaza descrescator dupa nume</button>
			<button id="resetare">Reseteaza</button>
		</p>

		<p id="p-suma">Apasați Alt+"c" pentru suma preturilor biletelor la filmele afișate. </p>



		<section id="produse">
            <h2>Produse</h2>
            <div class="grid-produse">
                <% for( let prod of locals.produse) { %>
                    <article class="produs">
                        <h3 class="nume">Nume: <a href="/produs/<%-prod.film_id %>" ><span class="val-nume"><%- prod.nume%></span></a></h3>
                        <div class="info-prod">
                            <p class="pret">Pret: <span class="val-pret"><%- prod.pret%></span></p>
                            <p class="durata">Durata filmului: <span class="val-durata" style="color:red"><%- prod.durata_minute%></span></p>
                            <p class="varsta">Varsta minima pentru vizionare: <span class="val-varsta"><%- prod.varsta_minima%></span></p>
                        </div>
                        <p class="categorie">Categorie:<span class="val-categorie"><%- prod.categorie%></span></p>
                        <figure>
                            <img src="/resources/galerie/filme/<%-prod.imagine%>" style="width:50%;height:auto;" alt="[imagine <%- prod.nume %>]" />
                        </figure>
                    </article>
                <% }%>
            </div>
        </section>

    </main>
   
    

    <%- include("../fragmente/footer") %>
</body>


</html>