<!DOCTYPE html>
<html lang="ro">

<head>


	

	<%- include("../fragmente/metadata") %>

	<title>

		Filmul tau. Aici

	</title>

	<link href="/resources/css/index.css" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" type="image/x-icon" href="/resources/images/favicon.ico" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
	<link rel="stylesheet" href="/resources/css/colorScheme.css">
	<link rel="stylesheet" href="/resources/css/index-1400.css" type="text/css" media="screen and (max-width:1400px)" />
	<link rel="stylesheet" href="/resources/css/index-600.css" type="text/css" media="screen and (max-width:600px)" />
	<link rel="stylesheet" href="/resources/css/nav.css">
	<link rel="stylesheet" href="/resources/css/nav-mic.css" type="text/css" media="screen and (max-width:600px)" />
	<link rel="stylesheet" href="/resources/css/hrStyling.css">
	<link rel="stylesheet" href="/resources/css/link-top.css">
	<link rel="stylesheet" href="/resources/css/iframe.css">
	<link rel="stylesheet" href="/resources/css/grid-mare.css">
	<link rel="stylesheet" href="/resources/css/grid-mediu.css" type="text/css" media="screen and (max-width:1400px)" />
	<link rel="stylesheet" href="/resources/css/grid-mic.css" type="text/css" media="screen and (max-width:600px)" />
	<link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
	<script src="https://kit.fontawesome.com/adc7ec3556.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
	<link rel="stylesheet" href="/resources/css/headerStyle.css">
	<link rel="stylesheet" href="/resources/css/poze.css">
    <link rel="stylesheet" href="/resources/css/galerie-statica.css">
	<link rel="stylesheet" href="/resources/css/print-page.css">
	<link rel="stylesheet" href="/resources/css/galerie-animata.css" type="text/css">
	<link rel="stylesheet" href="/resources/css/filme.css" type="text/css">

</head>
<script type="text/javascript" src="/resources/js/filme.js"></script>
<body>

	
	<%- include("../fragmente/header") %>
    <%- include("../fragmente/navbar") %>

	<button id="schimbare-tema" class="light"><i class="far fa-moon" id="butonluna"></i><i class="far fa-sun" id="butonsoare"></i></button>
	<script src="/resources/JS/tema.js"></script>
	
    <main>
		
        
		<div id="filtremici">
        <label> Durata maxima: <input type="number" id="inp-durata" value="300"></label>
        <label> Pret minim: <input type="range" id="inp-pret" value="0" min="0"  max="100"></label>
		<label>Select simplu:
            <select id="inp-categorie">
                <option value="toate">toate</option>
                <% for( let categorie of locals.categorii) { %>
                    <option value="<%- categorie.categ %>"><%- categorie.categ %></option>
                <% } %>
            </select>
        </label>
		
		<label>Nume: <input type="text" id="input-nume" value=""></label>
		</div>
		<label for="textarea">Introduceti actorul preferat:</label>
		<textarea id="input-actor" name="textarea" rows="4" cols="50">
		
		</textarea>
		
		<label> Select multiplu:
			<select id="inp-multiplu" multiple>
				<option value="toate">toate</option>
				<% for( let categorie of locals.categorii) { %>
                    <option value="<%- categorie.categ %>"><%- categorie.categ %></option>
                <% } %>
			</select>	
		</label>
		
		<p>Selectati tipul de film care va pasioneaza</p>

		<div class="check">
		<input type="checkbox" id="filme1" name="Filme noi" value="Filme noi">
		<label for="filme1"> Filme noi</label><br>
		</div>

		<div class="check">
		<input type="checkbox" id="filme2" name="Filme vechi" value="Filme vechi">
		<label for="filme2"> Filme vechi</label><br>
		</div>
		<p>
			<button id="filtrare">Filtreaza</button>
			<button id="sortCrescNume">Sorteaza crescator dupa pret si categorie</button>
			<button id="sortDescrescNume">Sorteaza descrescator dupa pret si categorie</button>
			<button id="resetare">Reseteaza</button>
			<button id="suma">Afiseaza suma biletelor filmelor selectate</button>
		</p>

		<div id="newgrid">
		<p id="p-suma"></p>
		



		<section id="produse">
            <h2>Produse</h2>
            <div class="grid-produse">
                <% for( let prod of locals.produse) { %>
                    <article class="produs">
                        <h3 class="nume"><b>Nume</b>: <a href="/film/<%-prod.film_id %>" ><span class="val-nume"><%- prod.nume%></span></a></h3>
                        <div class="info-prod">
                            <p class="pret"><b>Pret</b>: <span class="val-pret"  style="color:red"><%- prod.pret%></span></p>
                            <p class="durata"><b>Durata filmului</b>: <span class="val-durata" style="color:red"><%- prod.durata_minute%></span></p>
                            <p class="varsta"><b>Varsta minima pentru vizionare</b>: <span class="val-varsta"  style="color:red"><%- prod.varsta_minima%></span></p>
                        </div>
                        <p class="categorie"><b>Categorie</b>:<span class="val-categorie"><%- prod.categorie%></span></p>
                        <figure>
                            <img src="/resources/galerie/filme/<%-prod.imagine%>" style="width:50%;height:auto;" alt="[imagine <%- prod.nume %>]" />
                        </figure>
                    </article>
                <% }%>
            </div>
        </section>
		</div>
    </main>
   
    

    <%- include("../fragmente/footer") %>
</body>


</html>