<!DOCTYPE html>
<html lang="ro">

<head>


	

	<%- include("../fragmente/metadata") %>

	<title>

		Filmul tau. Aici

	</title>

	<link href="/resources/css/index.css" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" type="image/x-icon" href="/resources/images/favicon.ico" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
	<link rel="stylesheet" href="/resources/css/colorScheme.css">
	<link rel="stylesheet" href="/resources/css/index-1400.css" type="text/css" media="screen and (max-width:1400px)" />
	<link rel="stylesheet" href="/resources/css/index-600.css" type="text/css" media="screen and (max-width:600px)" />
	<link rel="stylesheet" href="/resources/css/nav.css">
	<link rel="stylesheet" href="/resources/css/nav-mic.css" type="text/css" media="screen and (max-width:600px)" />
	<link rel="stylesheet" href="/resources/css/hrStyling.css">
	<link rel="stylesheet" href="/resources/css/link-top.css">
	<link rel="stylesheet" href="/resources/css/iframe.css">
	<link rel="stylesheet" href="/resources/css/grid-mare.css">
	<link rel="stylesheet" href="/resources/css/grid-mediu.css" type="text/css" media="screen and (max-width:1400px)" />
	<link rel="stylesheet" href="/resources/css/grid-mic.css" type="text/css" media="screen and (max-width:600px)" />
	<link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
	<script src="https://kit.fontawesome.com/adc7ec3556.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
	<link rel="stylesheet" href="/resources/css/headerStyle.css">
	<link rel="stylesheet" href="/resources/css/poze.css">
    <link rel="stylesheet" href="/resources/css/galerie-statica.css">
	<link rel="stylesheet" href="/resources/css/print-page.css">
	<link rel="stylesheet" href="/resources/css/galerie-animata.css" type="text/css">
	<link rel="stylesheet" href="/resources/css/film.css" type="text/css">

</head>
<body>

	
	<%- include("../fragmente/header") %>
    <%- include("../fragmente/navbar") %>

	<button id="schimbare-tema" class="light"><i class="far fa-moon" id="butonluna"></i><i class="far fa-sun" id="butonsoare"></i></button>
	<script src="/resources/JS/tema.js"></script>

    <main>
        <section>
            <h2>Pagină produs</h2>
                <article id="art-produs">
                    <h3><span class="nume"><%- locals.prod.nume %></span></h3>
                   
                    <div id="gridinfo">

                    <p class="xpret">Pret: <span class="pret"><%- locals.prod.pret %> </span></p>
                    <p class="xdescriere">Descriere: <span class="descriere"><%- locals.prod.descriere %> </span></p>
                    <p class="xcast">Cast: <span class="cast"><%- locals.prod.actori %> </span></p>
                    <p class="xdurata">Durata: <span class="durata"><%- locals.prod.durata_minute %> </span></p>                   
                    <p class="xvarsta">Varsta Minima: <span class="varsta"><%- locals.prod.varsta_minima %> </span></p>
                    <p class="xcategorie">Categorie: <span class="categorie"><%- locals.prod.categorie %> </span></p>
                    <p class="xtreid">3D: <span class="treid"><%- locals.prod.treid %> </span></p>
                    <p class="xdata">Data Difuzare: <span class="data"><time><%- locals.prod.data_difuzare %> </time></span></p>


                    
                    <figure class="imag-produs">
                        <img  src="/resources/galerie/filme/<%- locals.prod.imagine %>" alt="[imagine <%- locals.prod.nume %>]" />
                    </figure>    
                    
                    </div>
                    
                    </article>
            
        </section>
    </main>

    <%- include("../fragmente/footer") %>
</body>

</html>